<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>우리들의 스파르타 마켓</title>
</head>
<body>
    <h1>우리들의 스파르타 마켓</h1>
    <h2>게시된 상품 목록</h2>
    <a href="{% url 'login' %}">로그인하기</a>
    <a href="{% url 'profile' %}">프로필</a>
    <a href="{% url 'signup' %}">회원가입</a>
    <ul>
        {% for product in products %}
            <li><a href="{% url 'product_detail' pk=product.pk %}">{{ product.title }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>

