<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 페이지</title>
</head>
<body>
    <h1>내 프로필</h1>
    <p>닉네임: {{ user.username }}</p>
    <p>가입한 날짜: {{ user.date_joined }}</p>
    
    <h2>내가 등록한 상품</h2>
    <ul>
        {% for product in products %}
            <li>{{ product.title }}</li>
        {% endfor %}
    </ul>
    
    <h3>좋아요한 상품</h3>
    <ul>
        {% for product in liked_products %}
            <li>{{ product.title }}</li>
        {% endfor %}
    </ul>
</body>
</html>
